* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.Inputs-div {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #797979;
  gap: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.cardServicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  background-color: #797979;
  height: 500px;
  margin-top: 20px;
}



.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}






input {
  padding: 8px 12px;
  width: 50%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #303030;
  color: white;
  width: 100px;
}