* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}


.Inputs-div {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #797979;
  gap: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items:center ;
}

.mainDados {
  display: flex;
}





input {
  padding: 8px 12px;
  width: 50%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #303030;
  color: white;
  width: 100px;
}