* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.Inputs-div {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.425);
  gap: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardServicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  background-color: #797979;
  height: 370px;
  margin-top: 20px;
  border-radius: 10px;
}


.headerUl {
  display: flex;
  list-style: none;
  align-items: center;
  color: white;
  gap: 50px;
  width: 80%;
  font-size: 28px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}


header a {
  text-decoration: none;
  color: white;
}

.mainContent {
  background-image: url('../public/assets/allef-vinicius-IvQeAVeJULw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

p {
  color: white;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}


.img-card {
  width: 100%;
  height: 200px;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 15px;
  flex-wrap: wrap;
}

.mainContainer>h1 {
  color: white;
  margin-top: 110px;
}

.card-text,
.mainContent h1 {
  color: white;
}

input {
  padding: 8px 12px;
  width: 50%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #303030;
  color: white;
  width: 100px;
}

.container-equipe {
  display: flex;
  flex-direction: column;
  min-height: 610px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container-equipe>.container-cards {
  gap: 44px;
  flex-wrap: nowrap;
  justify-content: left;
  overflow-x: hidden;
  max-width: 55%;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.cards-track {
  display: flex;
  gap: 44px;
  align-items: flex-start;
  animation: deslizar 15s linear infinite;
  will-change: transform;
}



@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


.img-endereco {
  width: 100%;
  height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  max-width: 320px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scroll-snap-align: start;
}


.img-card {
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 10px;
}

.img-card h1 {
  margin-bottom: 40px;
  color: rgb(224, 211, 26);
}

.container-endereco {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.redes-card {
  display: flex;
  width: 100%;

}

.img-card {
  background-image: url('../public/assets/allef-vinicius-IvQeAVeJULw-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


.redes-ul {
  display: flex;
  list-style: none;
}